@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
:root {
    /* 색상 */
    --primary-bg-color:#f3f4f6;
    --secondary-bg-color:#0f172a;
    --primary-color: #bfdbfe;
    --primary-text-color: #000000;
    --secondary-text-color:#dc2626;
    --third-text-color:#374151;
    --secondary-color: #fecaca;
    --secondary-text-color: #333333;
    --input-border-color:#94a3b8;
    --form-color-uncompleted:  #d1d5db;
    --text-color-uncompleted: #6b7280;
    --form-color-completed:#3b82f6;
    --text-color-completed:#ffffff;
    --category-color-업무: #bfdbfe;
    --category-text-color-업무: #1e3a8a;
    --category-color-개인: #fecaca;
    --category-text-color-개인: #7f1d1d;
    --category-color-자유: #bbf7d0;
    --category-text-color-자유: #06835f;
    --category-color-운동: #fef08a;
    --category-text-color-운동: #b9ad3c;

    /* 간격 여백 */
    --padding-sm:0.5rem;
    --padding-md:2.5rem;
    --padding-lg:3rem;

    /* 폰트 굵기 */
    --bold-lg:font-weight: 700
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  