@import '../../App.css';
.button{
    font-family: var(--font-family-base);
    font-size: var(--font-size-body);
    padding:  var(--spacing-medium);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  .button-primary {
    background-color: var(--color-primary);
    color: white;
  }
  
  .button-primary:hover {
    background-color: #003a8c;
  }
  
  .button-secondary {
    background-color: var(--color-secondary);
    color: black;
  }
  
  .button-secondary:hover {
    background-color: #d4b600;
  }
  
  .button-success {
    background-color: var(--color-success);
    color: white;
  }
  
  .button-success:hover {
    background-color: #218838;
  }
  
  .button-error {
    background-color: var(--color-error);
    color: white;
  }
  
  .button-error:hover {
    background-color: #c82333;
  }
  
  .button-warning {
    background-color: var(--color-warning);
    color: black;
  }
  
  .button-warning:hover {
    background-color: #e0a800;
  }