:root{
    --color-border:gray;
}
.input-field {
    width: 100%;
    padding: var(--spacing-medium);
    font-size: var(--font-size-body);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    transition: border-color 0.3s ease;
}
  
  .input-field:focus {
    outline: none;
    border-color: var(--color-primary);
  }