@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --primary-color: #fa997f;
  --custom-gray: #f9f9f9;
}
.bg-input {
  background: var(--custom-gray);
  text-indent: 10px;
}
.toast-success {
  background: #e8f5e9;
  color: #2e7d32;
}
@media (max-width: 1000px) {
  .hide-on-small {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
}
