.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  position: relative; /* Make sure it's relative to position items inside it */
}

.gallery {
  position: relative; /* Needed for absolute positioning of items inside it */
  width: 100%;
  height: 100%;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item {
  position: absolute;
  width: 175px;
  height: 250px;
  background: #000;
  /* Add styles to center text or content inside the item if needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
