.previewContainer {
  margin-top: 1.25rem;
  padding: 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem; /* Medium rounded corners */
  background-color: #f9fafb; /* Light background color */
  max-width: 100%; /* Ensure container takes full width available */
}

.prose pre {
  font-family: Arial, sans-serif;
  width: inherit;
  white-space: pre-wrap; /* Preserve spaces, tabs, and line breaks */
  word-wrap: break-word; /* Prevent overflow by wrapping long words */
  overflow-wrap: break-word; /* Same as word-wrap, supported in newer browsers */
}

.prose h1 {
  font-size: 1.9rem; /* Equivalent to text-4xl */
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.prose h2 {
  font-size: 1.6rem; /* Equivalent to text-3xl */
  font-weight: bold;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
}

.prose h3 {
  font-size: 1.4rem; /* Equivalent to text-2xl */
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.prose h4 {
  font-size: 1.2rem; /* Equivalent to text-2xl */
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.prose ul {
  list-style-type: disc;
  padding-left: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.prose ol {
  list-style-type: decimal;
  padding-left: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.prose li {
  margin-bottom: 0.5rem;
}

.prose a {
  color: pink;
  text-decoration: underline;
}
